[submodule "ThirdParty/Dependencies"]
	path = ThirdParty/Dependencies
	url = https://github.com/MichalX2002/MonoGame.Dependencies.git
	
[submodule "ThirdParty/NVorbis"]
	path = ThirdParty/NVorbis
	url=https://github.com/MichalX2002/MonoGame.NVorbis.git

[submodule "SDL_GameControllerDB"]
	path = SDL_GameControllerDB
	url = https://github.com/gabomdq/SDL_GameControllerDB
