[submodule "ThirdParty/Dependencies"]
	path = ThirdParty/Dependencies
	url = https://github.com/TechnologicalPizza/MonoGame.Dependencies.git
	
[submodule "ThirdParty/NVorbis"]
	path = ThirdParty/NVorbis
	url=https://github.com/TechnologicalPizza/MonoGame.NVorbis.git

[submodule "ThirdParty/SDL_GameControllerDB"]
	path = ThirdParty/SDL_GameControllerDB
	url = https://github.com/gabomdq/SDL_GameControllerDB
	
[submodule "ThirdParty/SixLabors/Core"]
	path = ThirdParty/SixLabors/Core
	url = https://github.com/TechnologicalPizza/SixLabors.Core

[submodule "ThirdParty/SixLabors/ImageSharp"]
	path = ThirdParty/SixLabors/ImageSharp
	url = https://github.com/TechnologicalPizza/SixLabors.ImageSharp

[submodule "ThirdParty/SixLabors/Drawing"]
	path = ThirdParty/SixLabors/Drawing
	url = https://github.com/TechnologicalPizza/SixLabors.Drawing
[submodule "ThirdParty/StbSharp/Image"]
	path = ThirdParty/StbSharp/Image
	url = https://github.com/TechnologicalPizza/StbSharp.Image
[submodule "ThirdParty/StbSharp/Shared"]
	path = ThirdParty/StbSharp/Shared
	url = https://github.com/TechnologicalPizza/StbSharp.Shared
[submodule "ThirdParty/StbSharp/ImageWrite"]
	path = ThirdParty/StbSharp/ImageWrite
	url = https://github.com/TechnologicalPizza/StbSharp.ImageWrite
