[submodule "ThirdParty/Dependencies"]
	path = ThirdParty/Dependencies
	url = https://github.com/TechnologicalPizza/MonoGame.Dependencies.git
	
[submodule "ThirdParty/NVorbis"]
	path = ThirdParty/NVorbis
	url=https://github.com/TechnologicalPizza/MonoGame.NVorbis.git

[submodule "ThirdParty/SDL_GameControllerDB"]
	path = ThirdParty/SDL_GameControllerDB
	url = https://github.com/gabomdq/SDL_GameControllerDB
	
[submodule "ThirdParty/Lidgren.Network"]
	path = ThirdParty/Lidgren.Network
	url = https://github.com/TechnologicalPizza/lidgren-network-gen3

[submodule "ThirdParty/SixLabors/Core"]
	path = ThirdParty/SixLabors/Core
	url = https://github.com/TechnologicalPizza/SixLabors.Core

[submodule "ThirdParty/SixLabors/ImageSharp"]
	path = ThirdParty/SixLabors/ImageSharp
	url = https://github.com/TechnologicalPizza/SixLabors.ImageSharp

[submodule "ThirdParty/SixLabors/Drawing"]
	path = ThirdParty/SixLabors/Drawing
	url = https://github.com/TechnologicalPizza/SixLabors.Drawing
